/* tipografiageneral y margen en body */
.tipo {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0px;
}

.colorfondo {
  background-color: $celeste;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p {
  @extend .fontdos;
}

h3 {
  @extend .fontdos;
}

ul li {
  @extend .fontdos;
}

// extends
.fontdos {
  font-size: 2rem;
  text-align: justify;
}
.flexcentrado {
  display: flex;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
