/* footer */
.footer {
  @extend .flexcolumn;
  background-color: $azul;
  border-top: 10px solid $amarillo;
  padding: 25px 20px;
  &__contenido {
    color: $blanco;
    font-weight: bold;
    font-size: 2rem;
    margin: 0px;
  }
}
