/* media queries */
@media only screen and (max-width: 1300px) {
  /*index  */
  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  /* recetas */
  .recetacuerpo {
    &__flex {
      flex-direction: column;
    }
    &__flextexto {
      place-self: flex-start;
    }
  }

  /* quienes somos */
  .quienessomosfinal__video {
    width: 35rem;
  }
}

@media only screen and (max-width: 768px) {
  /*index  */
  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  /* recetas */
  .recetacuerpo {
    &__flex {
      flex-direction: column;
    }
    &__flextexto {
      place-self: flex-start;
    }
  }

  /* quienes somos */
  .quienessomosfinal__video {
    width: 35rem;
  }
}

@media only screen and (max-width: 576px) {
  /* index */
  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .tarjeta {
    margin: 10px 0px;
    width: 29rem;
    &:hover {
      transform: scale(1.05);
    }
  }

  /* recetas */
  .recetacuerpo {
    &__flex {
      flex-direction: column;
    }
    &__flextexto {
      place-self: flex-start;
    }
    &__fotos img {
      width: 18rem;
      height: 18rem;
    }
  }

  /* quienes somos */
  .quienessomosfinal__video {
    width: 30rem;
  }
}

@media only screen and (max-width: 485px) {
  /* index */
  .introduccion {
    &__titulo {
      font-size: 4.3rem;
    }
    &__subtitulo {
      font-size: 3.2rem;
    }
  }

  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tarjeta {
    margin: 10px 0px;
    width: 20rem;
    height: 37rem;
    &:hover {
      transform: scale(1.05);
    }
    img {
      height: 14rem;
      width: 14rem;
    }
    &__encabezado h2 {
      font-size: 3.1rem;
    }
  }

  /* recetas */
  .recetacuerpo {
    &__titulo {
      font-size: 3rem;
    }
    &__subtitulo {
      font-size: 2.5rem;
      ul li {
        font-size: 2rem;
      }
    }
    &__flex {
      flex-direction: column;
    }
    &__flextexto {
      place-self: flex-start;
    }
    &__fotos img {
      width: 15rem;
      height: 15rem;
    }
  }

  /* quienes somos */
  .quienessomosfinal {
    &__video {
      width: 20rem;
    }
    &__foto {
      height: 25rem;
      width: 20rem;
    }
  }
}
