/* recetas */
.recetacuerpo {
  margin: 0px;
  padding: 20px 30px;
  img {
    width: 20rem;
    height: 20rem;
    margin: 0px 20px;
  }
  &__titulo {
    animation: ease-in animacion 1s;
  }
  @keyframes animacion {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  &__subtitulo {
    margin: 10px;
  }
  &__pasos {
    margin: 10px;
  }
  &__flex {
    @extend .flexcentrado;
    padding: 1rem;
  }
  &__flextexto {
    @extend .flexcolumn;
  }
}
