$azul: #009cff;
$celeste: #b4e1ff;
$celesteclaro: #87ceeb;
$amarillo: #ffff00;
$blanco: #ffffff;
$negro: #000000;
@import "header";
@import "estilosgenerales";
@import "inicio";
@import "recetas";
@import "contactenos";
@import "quienessomos";
@import "footer";
@import "mediaqueries";
