/* tipografiageneral y margen en body */
.tipo {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0px;
}

/* header */
.menuheader {
  background-color: #009cff;
  border-bottom: 10px solid yellow;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}
.menuheader__contenido ul {
  margin: 0px;
  text-align: center;
}

.nosubrayado li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.menunav li {
  list-style: none;
  margin: 0px 10px;
}

.menunav {
  display: flex;
  justify-content: space-around;
}

.menuheader img {
  height: 8rem;
}

/* main en general*/
.colorfondo {
  background-color: #b4e1ff;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  text-align: justify;
}

h3 {
  font-size: 2rem;
  text-align: justify;
}

.preparacion h3 a {
  font-size: 2rem;
  text-decoration: none;
  color: #009cff;
  margin: 0px;
}

ul li {
  font-size: 2rem;
  text-align: justify;
}

.formularios form label {
  font-size: 100px;
  text-align: justify;
}

.imagenes img {
  height: 400px;
  width: 400px;
}

/* main introducción */
.introduccion {
  padding: 20px;
}

.introduccion__titulo {
  margin: 10px;
}

.introduccion__subtitulo {
  margin: 20px 10px;
}

.introduccion__info {
  margin: 10px;
}

/* tarjetas */
.espaciotarjetas {
  padding: 0px 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.tarjeta {
  background-color: white;
  margin: 20px 20px 0px 20px;
  border: 5px solid black;
  border-radius: 30px;
  padding: 30px;
  width: 30rem;
  height: 38rem;
}
.tarjeta__encabezado {
  text-align: center;
}
.tarjeta__encabezado__titulo {
  margin: 0px 0px 10px 0px;
}

.tarjeta__info {
  margin: 0px;
}

.tarjeta__preparacion {
  margin: 10px;
  text-align: end;
}

/* recetas */
.recetacuerpo {
  margin: 0px;
  padding: 20px 30px;
}

.recetacuerpo__titulo {
  margin: 0px;
}

.recetacuerpo__fotos img {
  width: 20rem;
  height: 20rem;
  margin: 0px 20px;
}

.recetacuerpo__subtitulo {
  margin: 10px;
}

.recetacuerpo__pasos {
  margin: 10px;
}

.recetacuerpo__flex {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.recetacuerpo__flextexto {
  display: flex;
  flex-direction: column;
}

/* quienessomos */
.quienessomosfinal {
  text-align: center;
}

.quienessomosfinal__video {
  width: 40rem;
  margin-bottom: 40px;
}

/* contactenos */
.contactenoscampos {
  font-size: 2rem;
}

.formularios {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: skyblue;
  padding: 2rem;
  border-radius: 2rem;
}

.formulario {
  display: flex;
  justify-content: center;
}

.aceptarterminos {
  display: flex;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #009cff;
  border-top: 10px solid yellow;
  padding: 25px 20px;
}
.footer__contenido {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0px;
}

/* media queries */

@media only screen and (max-width: 768px) {
  /*index  */
  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  /* recetas */
  .recetacuerpo__flex {
    flex-direction: column;
  }

  .recetacuerpo__flextexto {
    place-self: flex-start;
  }

  /* quienes somos */
  .quienessomosfinal__video {
    width: 35rem;
  }
}

@media only screen and (max-width: 576px) {
  /* index */
  .espaciotarjetas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .tarjeta {
    margin: 10px 0px;
    width: 29rem;
  }
  /* recetas */
  .recetacuerpo__flex {
    flex-direction: column;
  }

  .recetacuerpo__flextexto {
    place-self: flex-start;
  }

  /* quienes somos */
  .quienessomosfinal__video {
    width: 30rem;
  }
}
